**/__pycache__/**
*.pyc

code_for_demo/
demos/
experiments/
results/
mld/
mot_gpt2/
save_model_weights.py
mGPTv3/
README0.md
# app.py
# assets/*
test_folder.py

# Jason 2025-07-29: 排除 vscode 和 pycharm 的配置文件
.idea/
.vscode/

# Jason 2025-07-29: 排除 deps 文件夹的内容
deps/